
//===============================================================================
// VARIABLES
//===============================================================================
$yellow: #FDD933;
$l-green: #67b770;
$m-green: #41926d;
$d-green: #417c6d;
$ink: #000030;




$short: 0.3s;
$mid: 0.6s;
$long: 0.9s;
$vLong: 1.5s;





